.navigation-wrapper
  %a.logo{:href => "javascript:void(0)"}
    %i.fa.fa-briefcase
  %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
  %nav{:role => "navigation"}
    %ul#js-navigation-menu.navigation-menu.show
      %li.nav-link
        = link_to "Home", "/"
      %li.nav-link
        = link_to 'About', '/about.html'
      %li.nav-link
        = link_to "Guides", "javascript:void(0);"
      %li.nav-link
        = link_to "API", "javascript:void(0);"
      %li.nav-link
        = link_to "Community", "javascript:void(0);"
      %li.nav-link
        = link_to "Blog", "javascript:void(0);"

  .navigation-tools
    .search-bar
      %form{:role => "search"}
        %input{:placeholder => "Enter Search", :type => "search"}/
        %button{:type => "submit"}
          %img{:alt => "Search Icon", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}
