---
title: Welcome to Rails JSKit
---

%h1.tagline
  A framework for writing testable,
  %strong lightweight
  javascript in your Rails application.

.github-buttons
  = link_to "https://github.com/daytonn/rails_jskit", class: "button" do
    %i.fa.fa-github
    Github

  = link_to "https://github.com/daytonn/rails_jskit/releases", class: "button download" do
    %i.fa.fa-download
    Releases

  = link_to "https://github.com/daytonn/rails_jskit/issues", class: "button issues" do
    %i.fa.fa-exclamation-triangle
    Issues

.features
  .why-jskit
    %h2 Why Rails JSKit?
    %p Rails JSKit takes the guesswork out of how to structure the javascript in your Rails app. It also provides a simple way to write javascript that's easy to read, write, and test. No more dumping blobs of javascript into templates or grabbing magic global data available to your scripts.

  .lightweight
    %h2 Lightweight
    %p At 7kb completely uncompressed and under 250 lines of code in total, JSKit is an extremely lightweight framework. Not only lightweight in size JSKit aims to provide a basic structure and nothing more. JSKit sets you up for success, however you choose to build your application.

  .decoupled
    %h2 Decoupled Coordination
    %p Rails JSKit uses an event system to provide a minimal seam between your Rails app and the client-side code. JSKit controllers map 1 to 1 to Rails controllers, allowing you to coordinate execution of javascript at key points in the response cycle. Seamlessly pass data to your JSKit controllers directly from your Rails controllers, avoiding global variables dumped into templates.

.basics
  %h2 The Basics

  %ul.tabs
    %li.tab-header-and-content
      = link_to "application_controller.rb", "javascript:void(0);", class: "tab is-active"
      .tab-content
        :code
          # lang: ruby
          class ApplicationController < ApplicationController
            before_action :application_payload

            def application_payload
              set_app_payload(current_user)
            end
          end

    %li.tab-header-and-content
      = link_to "application_controller.js", "javascript:void(0);", class: "tab"
      .tab-content
        :code
          # lang: js
          App.createController("Application", {
            elements: {
              all: {
                notifications: "#notifications"
              }
            },

            events: {
              all: {
                notifications: { click: "fadeOutNotifications" }
              }
            },

            notificationFadeDelay: 3000,

            all: function(currentUser) {
              App.currentUser = currentUser;
              setTimeout(this.fadeOutNotifications, this.notificationFadeDelay);
            },

            fadeOutNotifications: function() {
              this.$notifications.fadeOut();
            }
          });

    %li.tab-header-and-content
      = link_to "application.html.haml", "javascript:void(0);", class: "tab"
      .tab-content
        :code
          # lang: haml
          !!!
          %html
            %head
              %title Rails App
              = csrf_meta_tags
              = stylesheet_link_tag "application", media: "all"

            %body
              - if notice || alert
                #notifications
                  - if notice
                    .notice= notice
                  - if alert
                    .alert= alert
              = yield
              = javascript_include_tag "application"
              = jskit
